@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

</div>

<div class="row gap-1">
    @{
        for (int i = 0; i < 10; i++)
        {
            <div class="card col-3" style="width: 18rem;">
                <img src="http://localhost:5001/thumbnails/2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p><strong>Length</strong>: 10min</p>
                    <p><strong>Author</strong>: Pexels</p>
                    <a href="#" class="btn btn-primary">Watch</a>
                </div>
            </div>
        }
    }
</div>
